USE [master]
GO
/****** Object:  Database [Sistema_Ticket]    Script Date: 8/15/2016 3:46:48 PM ******/
CREATE DATABASE [Sistema_Ticket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistema_Ticket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\Sistema_Ticket.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sistema_Ticket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\Sistema_Ticket_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistema_Ticket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistema_Ticket]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 8/15/2016 3:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [nvarchar](50) NOT NULL,
	[CEDULA] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[DIA_RECIBIDO] [datetime] NOT NULL,
	[MODELO] [nvarchar](50) NOT NULL,
	[SERIE] [nvarchar](50) NOT NULL,
	[OBSERVACIONES] [nvarchar](200) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
